<div style="width: 100%;">
    <form action="/login" method="post"  id="login">
        <label>Email</label>
        <input type='email' name='id' id='id' required/><br>
        <label>Password</label>
        <input type='password' name='password'id='password' required/><br>
        <br>
        <button id="send">Log In</button>
    </form>
    <br>

    <button id="singup">Sing Up</button>
    <br>
    <br>
    <button id="github">Log in with Github</button>
    
     

</div>
 
    <script src="/socket.io/socket.io.js"></script>    
    <script  src="../../login.js"> </script>