<div>
    <h1>Log In</h1>
    <form action="/login" method="post"  id="loginForm">
        <label>Email</label>
        <input type='email' name='id' id='id' required/><br>
        <label>Password</label>
        <input type='password' name='password'id='password' required/><br>
        <br>
        <button name="submit"> Log In</button>
    </form>
    <br>
    <button id="singup">Sing Up</button>
    <br>
    <br>
    <p>To see the detailed routes, please go to <a href="https://github.com/Erneststomp/railway-LopezLopezErnestoEduardo">https://github.com/Erneststomp/railway-LopezLopezErnestoEduardo</a>  and verify with the readme.md , for chat go to route /chat all other routes have no templates</p>

</div>
<script src="/socket.io/socket.io.js"></script>    
<script  src="../../login.js"> </script>