<div style="width: 100%;">
        <label>The login process has failed, verify your credentials or register</label>   
        <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
</div>
 
    <script src="/socket.io/socket.io.js"></script>    
