<div style="width: 100%;">
        <form action="/login" method="post" >
                <label>Hasta Luego {{userData.names}}</label>
                <span id="nombres"></span>
        </form>

</div>
<script src="/socket.io/socket.io.js"></script>    
<script  src="../../login.js"> </script>
 <script  src="../../chat.js" async 
  data-id="p3PkBtuA" 
  data-name="MyUniqueName" 
    name=''
    alias=''
    lastname=''
    id=''
    avatar=''
    > </script>
    
<script type="text/javascript">
function actualizar(){location.reload(true);}
        setInterval("actualizar()",2000);
</script>