<div>
    <h1>New Password</h1>
    <form action="/restore" method="PUT"  id="newPasswordForm">
        <label>New Password</label>
        <p>(Once the new password is set, go to login, it does not auto reload, the success or error message is shown in the console, that is why it is specified to implement postman)</p>
        <input name='newPassword' type="password" required>
        <button name="submit"> Set New</button>
    </form>

    <button id="login">Log In</button>
</div>
<script src="/socket.io/socket.io.js"></script>    
<script  src="../../recoverPassword.js"> </script>
    