<div>
    <h1>New Password</h1>
    <form action="/restore" method="PUT"  id="newPasswordForm">
        <label>New Password</label>
        <input name='newPassword' type="password" required>
        <button name="submit"> Set New</button>
    </form>

    <button id="login">Log In</button>
</div>
<script src="/socket.io/socket.io.js"></script>    
<script  src="../../recoverPassword.js"> </script>
    