<div>
    <h1>Reset Password</h1>
    <form action="/recover" method="post"  id="recoverForm">
        <label>Email</label>
        <input name='email' required>
        <button name="submit"> Restore</button>
    </form>

    <button id="login">Log In</button>
    <button id="register">Regsiter</button>
</div>
<script src="/socket.io/socket.io.js"></script>    
<script  src="../../recover.js"> </script>