<div style="width: 100%;">
        <label>The register process has failed. The user already exist</label>   
        <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
</div>
 
    <script src="/socket.io/socket.io.js"></script>    
