<div style="width: 100%;">
        <label>Registered Successfully.</label> 
        <p>A confirmation message has been sent to your email. </p>  
        <input type="button" id="login" value="volver a inicio">
</div>
 
<script src="/socket.io/socket.io.js"></script>
<script  src="../../registersucced.js"> </script>
